data/
*.bam
*.bai
*.cram
*.crai
*.fastq
*.fastq.gz
*.fq.gz
*.fa
*.fa.gz
*.fna
*.fna.gz
*.sam
results/calls_*/
results/eval_*/
results/call_log.txt
results/strat/*__*/
results/strat/*.vcf.gz*
data/
*.vcf.gz.tbi
results/test/
